{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Create new task</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.history.back();">
                    cancel
                </button>
                <button class="btn btn-sm btn-outline-primary" type="submit">create</button>
            </div>
        </form>
    </div>
{% endblock content %}

{% block javascripts %}
    {{ block.super }}
    {{ form.media }}
{% endblock javascripts %}
