{% extends 'base.html' %}


{% block content %}
    <div class="content-section">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Task details <small>#{{ task.id }}</small></legend>
            <div>
                <p><strong>Title:</strong> {{ task.title }}</p>
                <p><strong>Deadline:</strong> {{ task.deadline }}</p>
                <p><strong>Description:</strong> {{ task.description }}</p>
            </div>
        </fieldset>
        <div class="form-group">
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.history.back();">
                return
            </button>
        </div>
    </div>
{% endblock content %}