{% extends 'base.html' %}
{% load get_user %}

{% block content %}
    <div class="content-section">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Task details <small>#{{ task.id }}</small></legend>
            <div>
                <p><strong>Title:</strong> {{ task.title }}</p>
                <p><strong>Deadline:</strong> {{ task.deadline }}</p>
                <p><strong>Description:</strong> {{ task.description }}</p>
            </div>
        </fieldset>
        <div class="form-group">
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="window.history.back();">
                return
            </button>
        </div>
    </div>


    <div class="content-section">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Task comments</legend>
            <div>
                <ul class="list-group" id="comment-container">
                    {% for comment in comments %}
                        <li class="list-group-item d-flex justify-content-between align-items-center"
                            data-id="{{ comment.id }}"
                            id="js-comment-li-{{ comment.id }}"
                        >
                            <span class="js-message-holder">{{ comment.message }}</span>
                            <div>
                              <span>
                                <small>
                                    {% get_user_by_id comment.user_id %} &middot; {{ comment.created_at|date:'F d, Y, h:i A' }}
                                </small>
                            </span>
                                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example"> &nbsp;
                                    {% if comment.user_id == user.id %}
                                        <button
                                                type="button"
                                                class="btn btn-outline-secondary js-edit-message"
                                                data-id="{{ comment.id }}"
                                                data-type="update"
                                        >
                                            edit
                                        </button>
                                    {% endif %}
                                    {% if comment.user_id == user.id or task.author.id == user.id %}
                                        <button
                                                type="button"
                                                class="btn btn-outline-danger js-delete-message"
                                                data-id="{{ comment.id }}"
                                                data-type="delete"
                                                data-toggle="modal"
                                                data-target="#exampleModal"
                                        >
                                            delete
                                        </button>
                                    {% endif %}

                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </fieldset>

        {% if user == task.author or comment_perm %}
            <div id="add-comment-container">
                <div class="form-group">
                    <label for="comment">Add comment</label>
                    <input type="hidden" value="add" id="comment-action">
                    <input type="hidden" value="null" id="comment-identifier">
                    <input type="text" class="form-control" id="commentInput" aria-describedby="emailHelp">
                </div>
                <button id="sendComment" class="btn btn-outline-primary btn-sm">send</button>
            </div>
        {% endif %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">Are you sure want to delete?</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    This comment will be deleted permanently.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-primary btn-sm" id="delete-comment" data-dismiss="modal">Yes
                    </button>
                </div>
            </div>
        </div>
    </div>

    {{ task.id|json_script:"taskId" }}
    <script>
        const taskId = JSON.parse(document.getElementById('taskId').textContent);
        const userId = parseInt('{{ user.id }}');
        const taskAuthorId = parseInt('{{ task.author.id }}');
        const commentInput = document.querySelector('#commentInput');
        const sendComment = document.querySelector('#sendComment');
        const commentContainer = document.getElementById('comment-container');
        const addCommentContainer = document.querySelector('#add-comment-container');
        const commentAction = document.querySelector('#comment-action');
        const commentIdentifier = document.querySelector('#comment-identifier');
        const chatSocket = new WebSocket(`ws://${window.location.host}/ws/chat/${taskId}/`);


        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            {#console.log(data)#}
            if (!data.state) {
                if (data.user_id === {{ user.id }}) {
                    alert(data.message);
                }
                return false;
            }

            if ('update' === data.action_type) {
                document.getElementById(`js-comment-li-${data.comment_id}`).children[0].innerHTML = data.message;
            } else if ('delete' === data.action_type) {
                document.getElementById(`js-comment-li-${data.comment_id}`).remove()
            } else {
                const editBtnHTML = `<button class="btn btn-outline-secondary js-edit-message" data-id="${data.comment_id}" data-type="update">edit</button>`
                const deleteBtnHTML = `<button  class="btn btn-outline-danger js-delete-message" data-id="${data.comment_id}" data-type="delete" data-toggle="modal" data-target="#exampleModal">delete</button>`

                commentContainer.innerHTML += `
                    <li
                        class="list-group-item d-flex justify-content-between align-items-center"
                        data-id="${data.comment_id}"
                        id="js-comment-li-${data.comment_id}"
                    >
                        <span class="js-message-holder">${data.message}</span>
                        <div>
                            <span>
                                <small>
                                   ${data.username} &middot; ${data.datetime}
                                </small>
                            </span>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Basic example"> &nbsp;
                                ${data.user_id === userId ? editBtnHTML : ''}
                                ${data.user_id === userId || taskAuthorId === userId ? deleteBtnHTML : ''}
                            </div>
                        </div>
                    </li>`;
            }


        };


        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };


        {% if user == task.author or comment_perm %}
            commentInput.focus();
            commentInput.onkeyup = function (e) {
                if (e.keyCode === 13) {
                    sendComment.click();
                }
            };


            sendComment.onclick = event => {
                const message = commentInput.value;
                if (!message) {
                    return false;
                }

                chatSocket.send(JSON.stringify({
                    'actionType': commentAction.value,
                    'identifier': commentIdentifier.value,
                    'message': message,
                    'taskId': {{ task.id }}
                }));
                resetCommentActions();
            };
        {% endif %}


        commentContainer.onclick = event => {
            const element = event.target;
            const elementId = element.getAttribute('data-id');
            const operationType = element.getAttribute('data-type');

            commentAction.value = operationType
            commentIdentifier.value = elementId

            if ('update' === operationType) {
                commentInput.focus();
                commentInput.value = element.parentElement.parentElement.parentElement.children[0].textContent

                if (!document.getElementById('cancelUpdate')) {
                    addCommentContainer.insertAdjacentHTML('beforeend', `<button id="cancelUpdate" class="btn btn-outline-secondary btn-sm" onclick="cancelUpdate(this)">cancel</button>`)
                }
            }

        };

        document.getElementById('delete-comment').onclick = function (e) {
            chatSocket.send(JSON.stringify({
                'actionType': 'delete',
                'identifier': commentIdentifier.value,
                'taskId': taskId,
            }));

        }

        const cancelUpdate = event => {
            resetCommentActions();
            event.remove();
        }

        const resetCommentActions = () => {
            commentInput.value = '';
            commentAction.value = 'add';
            commentIdentifier.value = 'null';
        }


    </script>
{% endblock content %}