{% extends 'base.html' %}

{% block content %}
    <div class="content-section">
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">
                <span>Recent tasks</span>
                <a class="btn btn-sm btn-outline-secondary float-right" href="{% url 'task:create' %}">
                    create new task
                </a>
            </legend>
        </fieldset>

        <table class="table table-sm table-hover text-center">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Short description</th>
                <th scope="col">Deadline</th>
                <th scope="col">Operations</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description|truncatechars:25 }}</td>
                    <td>{{ task.deadline }}</td>
                    <td>
                        <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                            <a type="button" class="btn btn-outline-secondary" href="{% url 'task:detail' task.id %}">
                                view
                            </a>
                            <a type="button" class="btn btn-outline-secondary" href="{% url 'task:update' task.id %}">
                                edit
                            </a>
                            <a type="button" class="btn btn-outline-danger" href="{% url 'task:delete' task.id %}">
                                delete
                            </a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

{% endblock content %}


