{% load static %}

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">

    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">

    <title>Hello, world!</title>
</head>


<body class="container ">

{% block nav %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                    aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="">Home</a>
                    <a class="nav-item nav-link" href="">About</a>
                </div>
                <!-- Navbar Right Side -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="">New Post</a>
                        <a class="nav-item nav-link" href="">Profile</a>
                        <a class="nav-item nav-link" href="">Logout</a>
                    {% else %}
                        <a class="nav-item nav-link" href="">Login</a>
                        <a class="nav-item nav-link" href="">Register</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
{% endblock %}